*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.Home{
    position: absolute;
}
nav{
    background-color:black;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}
.nav h2{
    color: blueviolet;
}
.nav button{
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
    display: block;
}
.usrcard{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 50px;
    margin: 1rem;
    padding: 50px 130px;
}
.card{
    
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
     background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBtwFeSM3tOZZ8B3O978yl__PNymMQAuN_Og&usqp=CAU);
     height: 50vh;
     border-radius: 35px;
}
.pic img{
    border-radius: 100px;
}
.details{
    padding: 5px;
}
.details p{
    padding: 10px;
    color:darkred;
}
.fa{
    padding: 5px;
    font-size: 30px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    margin: 7px 2px 0px;
    border-radius: 50%;
    color: black;
  }

